<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
>
	<h:head></h:head>
	<h:body>

		<h:form id="mainForm">
			<p:growl for="growlmessage" id="growl" life="5000" showDetail="true" autoUpdate="false" />
			
			<p:tabView rendered="#{rolesAdminBean.connectionToDb}">
        		<p:tab title="#{i18n['networks']}">
        			<p:scrollPanel mode="native" style="border:none;height:450px;">
        				<p:panel styleClass="groupPanel" >
        					<p:outputLabel value="#{i18n['networks-list']}" styleClass="groupCaption" />
							<p:dataTable id="networksandrolestable" var="networks" widgetVar="networksVar" 
								sortBy="#{networks.id}" sortOrder="descending" 
								value="#{rolesAdminBean.lazyWhitelistModel}"
								lazy="true" filteredValue="#{rolesAdminBean.filteredWhitelist}" filterEvent="enter"
								selection="#{rolesAdminBean.selectedWhitelists}"
								rows="10" paginator="true" paginatorPosition="bottom"
								rowsPerPageTemplate="5,10,25,50,100,250,500"
								paginatorTemplate="#{i18n['paginator-template']}"
								currentPageReportTemplate="#{i18n['page-report-template']}"
								emptyMessage="#{i18n['no-records-found']}" style="margin-bottom:15px;" >
				
								<p:ajax event="page" onstart="PF('tableWait').show();" oncomplete="PF('tableWait').hide();" />
								<p:ajax event="sort" onstart="PF('tableWait').show();" oncomplete="PF('tableWait').hide();" />
								<p:ajax event="filter" onstart="PF('tableWait').show();" oncomplete="PF('tableWait').hide();" listener="#{rolesAdminBean.listenFilterWhitelist}" />
								<p:ajax event="rowSelectCheckbox" process="@this"/>
								<p:ajax event="rowUnselectCheckbox" process="@this"/>
								<p:ajax event="toggleSelect" process="@this"/>				
				
								<p:column selectionMode="multiple" style="width:16px;text-align:center" />
								
								<p:column headerText="#{i18n['network-address']}" filterBy="#{networks.netaddress}" style="width:15%;">
									<p:commandLink update=":formEditWhitelist" actionListener="#{rolesAdminBean.showWhitelistRecord(networks)}"
										onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();PF('editNetworkDialog').show();" >
											<h:outputText value="#{networks.netaddress}" />
									</p:commandLink>
								</p:column>
		
								<p:column headerText="#{i18n['description']}" style="word-wrap:break-all;" filterBy="#{networks.netname}">
									<h:outputText value="#{networks.netname}" />
								</p:column>
		
								<p:column headerText="#{i18n['role']}" style="width:30%;word-wrap:break-all;" filterBy="#{networks.roles}" filterOptions="#{rolesAdminBean.rolesOptions}" >
									<h:outputText value="#{networks.roles.name}" />
								</p:column>
							</p:dataTable>
							
							<h:panelGrid columns="2" style="width:100%;" >
								<h:panelGroup style="float:left;">
									<p:commandButton value="#{i18n['add']}" update=":formEditWhitelist"
								    	actionListener="#{rolesAdminBean.addNetwork}"
								    	style="margin-right:20px;" onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();PF('editNetworkDialog').show();" />
		
									<p:commandButton value="#{i18n['delete-selected']}" update=":mainForm:growl"
		    							actionListener="#{rolesAdminBean.testDeleteNetworks}"
		    							onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();" />
								</h:panelGroup>
								
								<h:panelGroup style="float:right;">
										<p:commandButton icon="ui-icon-close" title="#{i18n['clear-filters']}"
											onclick="PF('responseWait').show();PF('networksVar').clearFilters();PF('networksVar').filter();" oncomplete="PF('responseWait').hide();"/>
										<p:commandButton icon="ui-icon-check" title="#{i18n['apply-filters']}"
											onclick="PF('responseWait').show();PF('networksVar').filter();" oncomplete="PF('responseWait').hide();"/>
										<p:commandButton icon="ui-icon-refresh" title="#{i18n['update']}"
											onclick="PF('responseWait').show();PF('networksVar').filter();" oncomplete="PF('responseWait').hide();"/>
								</h:panelGroup>
							</h:panelGrid>
							
        				</p:panel>
        			</p:scrollPanel>
		        </p:tab>
		        <p:tab title="#{i18n['roles']}">
        			<p:scrollPanel mode="native" style="border:none;height:450px;">
        				<p:panel styleClass="groupPanel" >
        					<p:outputLabel value="#{i18n['roles-list']}" styleClass="groupCaption" />
							<p:dataTable id="rolestable" var="roles" widgetVar="rolesVar" 
								sortBy="#{roles.rid}" sortOrder="descending" 
								value="#{rolesAdminBean.lazyRolesModel}"
								lazy="true" filteredValue="#{rolesAdminBean.filteredRoles}" filterEvent="enter"
								selection="#{rolesAdminBean.selectedRoles}"
								rows="10"
								paginator="true"
								paginatorPosition="bottom"
								rowsPerPageTemplate="5,10,25,50,100,250,500"
								paginatorTemplate="#{i18n['paginator-template']}"
								currentPageReportTemplate="#{i18n['page-report-template']}"
								emptyMessage="#{i18n['no-records-found']}" style="margin-bottom:15px;" >
				
								<p:ajax event="page" onstart="PF('tableWait').show();" oncomplete="PF('tableWait').hide();" />
								<p:ajax event="sort" onstart="PF('tableWait').show();" oncomplete="PF('tableWait').hide();" />
								<p:ajax event="filter" onstart="PF('tableWait').show();" oncomplete="PF('tableWait').hide();" listener="#{rolesAdminBean.listenFilterRoles}" />
								<p:ajax event="rowSelectCheckbox" process="@this"/>
								<p:ajax event="rowUnselectCheckbox" process="@this"/>
								<p:ajax event="toggleSelect" process="@this"/>				
				
								<p:column selectionMode="multiple" style="width:16px;text-align:center" />
								
								<p:column headerText="ID" filterBy="#{roles.rid}" style="width:5%;">
									<h:outputText value="#{roles.rid}" />
								</p:column>
		
								<p:column headerText="#{i18n['name']}" filterBy="#{roles.name}" style="width:30%;word-wrap:break-all;" >
									<p:commandLink update=":formEditRole" actionListener="#{rolesAdminBean.showRolesRecord(roles)}"
										onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();PF('editRoleDialog').show();" >
											<h:outputText value="#{roles.name}" />
									</p:commandLink>
								</p:column>
		
								<p:column headerText="#{i18n['description']}" style="word-wrap:break-all;" filterBy="#{roles.description}" >
									<h:outputText value="#{roles.description}" />
								</p:column>
							</p:dataTable>
							
							<h:panelGrid columns="2" style="width:100%;" >
								<h:panelGroup style="float:left;">
									<p:commandButton value="#{i18n['add']}" update=":formEditRole"
								    	actionListener="#{rolesAdminBean.addRole}"
								    	style="margin-right:20px;" onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();PF('editRoleDialog').show();" />
		
									<p:commandButton value="#{i18n['delete-selected']}" update=":mainForm:growl"
		    							actionListener="#{rolesAdminBean.testDeleteRoles}"
		    							onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();" />
								</h:panelGroup>
								
								<h:panelGroup style="float:right;">
										<p:commandButton icon="ui-icon-close" title="#{i18n['clear-filters']}"
											onclick="PF('responseWait').show();PF('rolesVar').clearFilters();PF('rolesVar').filter();" oncomplete="PF('responseWait').hide();"/>
										<p:commandButton icon="ui-icon-check" title="#{i18n['apply-filters']}"
											onclick="PF('responseWait').show();PF('rolesVar').filter();" oncomplete="PF('responseWait').hide();"/>
										<p:commandButton icon="ui-icon-refresh" title="#{i18n['update']}"
											onclick="PF('responseWait').show();PF('rolesVar').filter();" oncomplete="PF('responseWait').hide();"/>
								</h:panelGroup>
							</h:panelGrid>
						</p:panel>
					</p:scrollPanel>		        
		        </p:tab>
		        <p:tab title="#{i18n['groups']}">
        			<p:scrollPanel mode="native" style="border:none;height:450px;">
        				<p:panel styleClass="groupPanel" >
        					<p:outputLabel value="#{i18n['groups-list']}" styleClass="groupCaption" />
							<p:dataTable var="groups" 
								value="#{rolesAdminBean.lazyGroupsModel}"
								lazy="true" rows="20" paginator="false"
								rowKey="#{groups.gid}"
								emptyMessage="#{i18n['no-records-found']}" style="margin-bottom:15px;" >
	
								<p:column headerText="#{i18n['name']}" style="width:30%;" >
									<h:outputText value="#{groups.name}" />
								</p:column>

								<p:column headerText="#{i18n['description']}" style="word-wrap:break-all;" >
									<h:outputText value="#{groups.description}" />
								</p:column>
								
								<p:column headerText="#{i18n['commands']}" style="word-wrap:break-all;" >
									<h:outputText value="#{rolesAdminBean.commandsOfGroup(groups)}" />
								</p:column>
							</p:dataTable>        					
						</p:panel>
					</p:scrollPanel>		        
		        </p:tab>
		    </p:tabView>
			<p:outputLabel value="#{i18n['no-connection-to-db']}" rendered="#{!rolesAdminBean.connectionToDb}" />
		</h:form>
		
		<p:dialog header="Редактирование записи" widgetVar="editNetworkDialog" resizable="false" closable="false" modal="true">
			<h:form id="formEditWhitelist" onkeypress="return event.keyCode != 13" >
				<p:panel styleClass="groupPanel">
					<p:panelGrid style="margin-bottom:15px;" styleClass="tableWithHelps" >
						<p:row>
							<p:column style="height:63px;" >
				    			<p:outputLabel value="#{i18n['network-address']}:" />
				    		</p:column>
				    		<p:column>
				    			<p:inputText id="netaddressinput" value="#{rolesAdminBean.editedWhitelistAddress}" required="true" maxlength="18"
				    				requiredMessage="#{i18n['this-field-is-mandatory']}" validatorMessage="#{i18n['field-not-match-mask']}"
				    				style="width:100%;margin-bottom:0;" >
				    					<f:validateRegex pattern="^(([01]?\d?\d|2[0-4]\d|25[0-5])\.){3}([01]?\d?\d|2[0-4]\d|25[0-5])\/(\d{1}|[0-2]{1}\d{1}|3[0-2])$" />
				    			</p:inputText>
				    			<p:outputLabel value="#{i18n['enter-network-address-help']}" styleClass="fieldHelps" />
				    			<p:message for="netaddressinput" display="text" />
				    		</p:column>
				    	</p:row>
				    	
						<p:row>
							<p:column style="height:63px;">
								<p:outputLabel value="#{i18n['description']}:" />
							</p:column>
							<p:column>
						    	<p:inputText id="netnameinput" value="#{rolesAdminBean.editedWhitelistName}" required="true" maxlength="50"
						    		requiredMessage="#{i18n['this-field-is-mandatory']}" style="width:100%;margin-bottom:0;" />
						    	<p:outputLabel value="#{i18n['enter-network-name-help']}" styleClass="fieldHelps" />
						    	<p:message for="netnameinput" display="text"/>
						    </p:column>
						</p:row>
						
						<p:row>
							<p:column>										    	
				    			<p:outputLabel value="#{i18n['role']}:" />
				    		</p:column>
				    		<p:column>
				    			<p:selectOneMenu value="#{rolesAdminBean.editedWhitelistRole}" >
				    				<f:selectItems value="#{rolesAdminBean.rolesList}" />
				    			</p:selectOneMenu>
				    		</p:column>
				    	</p:row>
		        	</p:panelGrid>
		        	
		        	<p:commandButton value="#{i18n['save']}" update=":formEditWhitelist :mainForm:growl"
						actionListener="#{rolesAdminBean.saveWhitelist}" 
						style="margin-right:20px;" onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();PF('networksVar').filter();" />
	
		        	<p:commandButton value="#{i18n['cancel']}" onclick="PF('editNetworkDialog').hide();" update=":formEditWhitelist" process="@this" >
		        		<p:resetInput target=":formEditWhitelist" />
		        	</p:commandButton>
		        	
		        </p:panel>
	        </h:form>
		</p:dialog> 

		<p:dialog header="Редактирование записи" widgetVar="editRoleDialog" resizable="false" closable="false" modal="true">
			<h:form id="formEditRole" onkeypress="return event.keyCode != 13" >
				<p:panel styleClass="groupPanel">
					<p:panelGrid style="margin-bottom:15px;" styleClass="tableWithHelps" >
						<p:row>
							<p:column style="height:63px;" >
				    			<p:outputLabel value="ID:" />
				    		</p:column>
				    		<p:column>
				    			<p:inputText id="roleidinput" value="#{rolesAdminBean.editedRoleId}" required="true" maxlength="10"
				    				requiredMessage="#{i18n['this-field-is-mandatory']}" validatorMessage="#{i18n['field-not-match-format']}"
				    				style="width:100%;margin-bottom:0;" disabled="#{rolesAdminBean.editMark}" >
				    					<f:validateRegex pattern="^[1-9][0-9]*$" />
				    			</p:inputText>
				    			<p:outputLabel value="#{i18n['enter-role-id']}" styleClass="fieldHelps" />
				    			<p:message for="roleidinput" display="text" />
				    		</p:column>
				    	</p:row>
				    	
						<p:row>
							<p:column style="height:63px;">
								<p:outputLabel value="#{i18n['name']}:" />
							</p:column>
							<p:column>
						    	<p:inputText id="rolenameinput" value="#{rolesAdminBean.editedRoleName}" required="true" size="40" maxlength="50"
						    		requiredMessage="#{i18n['this-field-is-mandatory']}" style="width:100%;margin-bottom:0;" />
						    	<p:outputLabel value="#{i18n['enter-role-name-help']}" styleClass="fieldHelps" />
						    	<p:message for="rolenameinput" display="text"/>
						    </p:column>
						</p:row>
						
						<p:row>
							<p:column style="height:63px;">
								<p:outputLabel value="#{i18n['description']}:" />
							</p:column>
							<p:column>
						    	<p:inputText id="roledescinput" value="#{rolesAdminBean.editedRoleDesc}" required="true" size="40" maxlength="100"
						    		requiredMessage="#{i18n['this-field-is-mandatory']}" style="width:100%;margin-bottom:0;" />
						    	<p:outputLabel value="#{i18n['enter-role-desc-help']}" styleClass="fieldHelps" />
						    	<p:message for="roledescinput" display="text"/>
						    </p:column>
						</p:row>
		        	</p:panelGrid>
		        	
					<p:pickList value="#{rolesAdminBean.groupsForRole}" var="rolegroups" converter="groupsModelConverter"
						itemValue="#{rolegroups}" itemLabel="#{rolegroups.name}" 
						addLabel="#{i18n['add']}" addAllLabel="#{i18n['add-all']}"
						removeLabel="#{i18n['remove']}" removeAllLabel="#{i18n['remove-all']}" style="margin-bottom:20px;" >
							<f:facet name="sourceCaption"><h:outputText value="#{i18n['avaible-groups']}"/></f:facet>
							<f:facet name="targetCaption"><h:outputText value="#{i18n['used-groups']}"/></f:facet>
					</p:pickList>		        	
		        	
		        	<p:commandButton value="#{i18n['save']}" update=":formEditRole :mainForm:growl"
						actionListener="#{rolesAdminBean.saveRole}" 
						style="margin-right:20px;" onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();PF('rolesVar').filter();" />
	
		        	<p:commandButton value="#{i18n['cancel']}" onclick="PF('editRoleDialog').hide();" update=":formEditRole" process="@this" >
		        		<p:resetInput target=":formEditRole" />
		        	</p:commandButton>
		        	
		        </p:panel>
	        </h:form>
		</p:dialog> 
		
		<p:dialog header="#{i18n['comfirm-remove']}" widgetVar="confirmRemoveNetworksDialog" resizable="false" closable="false" modal="true">
			<p:outputLabel value="#{i18n['selected-records-will-be-removed']}" style="margin-bottom:15px;" />
			<p:commandButton value="#{i18n['yes']}" update=":mainForm:growl"
		    	actionListener="#{rolesAdminBean.deleteNetworks}"
		    	style="margin-right:20px;" onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();PF('confirmRemoveNetworksDialog').hide();PF('networksVar').filter();" />
			<p:commandButton value="#{i18n['no']}" onclick="PF('confirmRemoveNetworksDialog').hide();"/>
		</p:dialog>

		<p:dialog header="#{i18n['comfirm-remove']}" widgetVar="confirmRemoveRolesDialog" resizable="false" closable="false" modal="true">
			<p:outputLabel value="#{i18n['selected-records-will-be-removed']}" style="margin-bottom:15px;" />
			<p:commandButton value="#{i18n['yes']}" update=":mainForm:growl"
				actionListener="#{rolesAdminBean.deleteRoles}"
				style="margin-right:20px;" onclick="PF('responseWait').show();" oncomplete="PF('responseWait').hide();PF('confirmRemoveRolesDialog').hide();PF('rolesVar').filter();" />
			<p:commandButton value="#{i18n['no']}" onclick="PF('confirmRemoveRolesDialog').hide();"/>
		</p:dialog>
		
		<p:dialog header="#{i18n['please-wait']}..." widgetVar="responseWait" resizable="false" closable="false" modal="true">
			<center>
				<p:graphicImage value="/resources/ajax-loader.gif" />
			</center>
		</p:dialog>

		<p:dialog header="#{i18n['please-wait']}..." widgetVar="tableWait" resizable="false" closable="false" modal="true">
			<center>
				<p:graphicImage value="/resources/ajax-loader.gif" />
			</center>
		</p:dialog>
				
	</h:body>
</f:view>