/* THEME FIXES START */

.ui-datatable table {
    font-size: 86%;
}

.aui label{
	cursor: default !important;
}

.aui form {
    margin: 0 !important;
}

/* THEME FIXES END */

/* COMPONENTS FIXES START */
.ui-selectonemenu-label{
	width:250px !important;
}

.ui-selectonemenu{
	width:250px !important;
    height: 30px;
	padding-right: 17px;
}

tr.setRowClass > td{
    padding-bottom: 1em;
}

.ui-datatable .ui-column-filter {
    width: 70% !important;
}

.ui-paginator .ui-paginator-rpp-options {
    width: 4% !important;
}

.ui-panelgrid>*>tr,
.ui-panelgrid .ui-panelgrid-cell {
    border: none !important;
    background: none !important;
}

.ui-message-error {
    background: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size:	small !important;
}

.ui-picklist .ui-helper-hidden {
    display: none;
}

.ui-picklist-list {
	width:240px !important;
}

.ui-chkbox .ui-chkbox-label {
    margin: 0 0 0 2px !important;
}

.ui-timepicker-div .ui-widget-header {
	display: none;
}

.ui_tpicker_time_label {
	display: none;
}

.ui_tpicker_time {
	display: none;
}

/* COMPONENTS FIXES END */

.fieldHelps {
	font-size:	small !important;
	color:	navy !important;
	margin-bottom: 0 !important;
}

.tableWithHelps td {
    vertical-align: top;
}

.groupCaption{
	color: #2779aa !important;
	font-weight: bold !important;
	font-size: 1.5em !important;
	margin-bottom: 15px !important;
}

.subgroupCaption{
	color: black !important;
	font-weight: bold !important;
	font-size: 1em !important;
	margin-bottom: 15px !important;
}

.groupPanel {
    border: none !important;
    background: none !important;
    margin-bottom: 10px !important;	
}

.groupPanelDetail {
    border: none !important;
    background: none !important;
    margin-bottom: 10px !important;	
}

.groupPanelDetail label {
    margin-bottom: 0 !important;
}

.dataTableSingleLine {
    text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.detailSingleLine {
	background: white !important;	
    cursor: text !important;
    opacity: initial !important;
    background-image: none !important;
    text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.detailSingleLineJournal {
	color: black !important;
    cursor: text !important;
    text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.detailSingleLineDesc {
    cursor: text !important;
    color: #555;
	display: block;
	display: -webkit-box;
	max-width: 100%;
	height: 43px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.arhivedRow {
    color: #B8B8B8 !important;
}

.leftInfoColumn {
    width: 35%;	
}

.rightInfoColumn {
	width: 65%;
}
